.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.env.*

./requirement.txt
.DS_Store
node-v18.20.2-linux-x64.tar.xz
node-v20.19.0-linux-x64.tar.xz
node-v20.19.0-linux-x64.tar.xz.1
ollama
Modelfile